@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

$lr360-dark-red: #610D0D;
$lr360-red: #B93B39;
$lr360-dark-brown: #2E2727;
$lr360-brown: #695858;
$lr360-light-brown: #C7BBBB;
$lr360-aqua: #23C6C8;

html, body {
  color: $lr360-dark-brown !important;
  font-family: 'Titillium Web', sans-serif !important;
}
